* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 900px;
}

nav {
    height: 80px;
    background-color: #3161e0;
    line-height: 80px;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.float {
    float: left;
}

.logo {
    width: 20%;
    height: 100%;
}

.logo img {
    vertical-align: middle;
}

.navigator {
    width: 60%;
    height: 100%;
    text-align: center;
}

.navigator li {
    display: inline-block;
    margin: 0 20px;
}

li:hover a {
    text-decoration: underline;
}

.navigator a {
    text-decoration: none;
    color: white;
}

.enter {
    width: 20%;
    height: 100%;
    text-align: center;
}

button {
    border-radius: 35px;
    font-size: 20px;
    padding: 5px 10px;
    vertical-align: middle;
    border: none;
}

button:hover {
    transform: scale(1.2);
}

.large {
    padding: 10px 20px;
    margin-right: 20px;
}

.dark {
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.blue {
    background-color: #8ea1e1;
    color: white;
    text-align: center;
    border: transparent;
    padding: 10px 15px;
}

.blueF {
    background-color: #8ea1e1;
    color: white;
    text-align: center;
    border: transparent;
    padding: 5px 10px;
}

.bottom-header .large::before {
    content: "\2193 ";
    font-weight: 900;
    padding-right: 10px;

}

.ready .blue::before {
    content: "\2193 ";
    padding-right: 10px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.bottom-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 65%;
    position: relative;
}

.bottom-header div {
    text-align: center;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
}

.bottom-header div h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.bottom-header div p {
    margin-bottom: 20px;
}

.luogo, .fandom {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
    float: left;
    margin-top: 0px;
}

.luogo-description, .fandom-description {
    float: right;
    width: 35%;
}

article h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

article p {
    font-size: 30px;
}

.waveG {
    position: relative;
    bottom: -4px;
    margin-top: 100px;
}

.waveG img{
    opacity: 0.03;
}

.waveW {
    position: relative;
    margin-bottom: 100px;
}

.waveW img{
    opacity: 0.03;
    transform: rotate(180deg);
}

.grey {
    background-color: #f8f8f8;
}

.trovarsi-description {
    float: left;
    width: 35%;
}

.trovarsi {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
}

.tecnologia, .ready, .tecno-img {
    text-align: center;
}

.tecno-img img {
    width: 100%;
}

.ready {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    padding: 50px;
}

.ready h2 {
    margin-bottom: 50px;
    font-size: 40px;
}

footer {
    background-color: #23272a;
    color: white;
    padding-top: 50px;
    height: 650px;
}

.top-footer {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #7289da;
}

.contact {
    width: 25%;
    height: auto;
    float: left;
    margin-right: 50px;   
}

.prodotto, .compagnia, .risorse, .norme {
    width: 12%;
    height: auto;
    float: left;
    margin-right: 50px;
}

.ita {
    margin-bottom: 20px;
}

.ita img {
    width: 30px;
    vertical-align: middle;
}

.ita span {
    font-size: 20px;
}

.social img {
    width: 20px;
    margin: 10px 20px 0px 0px;
}

ul {
    list-style: none;
}

.contact h1 {
    color: #7289da;
    font-size: 30px;
    margin-bottom: 20px;
}

.top-footer a {
    text-decoration: none;
    color: white;
}

.top-footer li{
    margin-bottom: 20px;
}

.Lhead {
    color: #7289da;
}

.footer-logo {
    float: left;
}

.footer-btn {
    float: right;
    font-size: 15px;
}

.bottom-footer {
    margin-top: 30px;
}